.container {
  width: min(100%, 1440px);
  margin: auto;
}

/* task1 */
.task1 {
  background-color: aqua;
  height: 200px;
}

h2 {
  font-size: 32px;
  font-family: "Baskervville SC", serif;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 20px;
}

.button1 {
  margin-top: 50px;
  margin-left: 50px;
  font-size: 24px;
  padding: 20px 30px;
  background-color: aqua;
  text-shadow: 3px 3px 5px rgb(17, 32, 51);
  box-shadow: 3px 3px 4px 4px rgb(17, 32, 51), inset 3px 3px 6px 2px white;
  border-radius: 10px;
  border: none;
  color: white;
  transition: all 1s ease-in;
  font-family: "Baskervville SC", serif;
  font-weight: 400;
  font-style: normal;
}

.button1:active {
  text-shadow: 1px 1px 2px rgb(17, 32, 51);
  box-shadow: inset 3px 3px 4px rgb(17, 32, 51), inset -4px -4px 4px white;
}

/* task2 */
.task2 {
  height: 500px;
  margin-top: 50px;
}

.card {
  margin-top: 50px;
  width: 500px;
  height: 300px;
  transition: all 1s linear;
  box-shadow: none;
  border-radius: none;
  padding: 50px 15px;
}

.cat_img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  transition: all 1s linear;
  border-radius: none;
}

.card_text {
  margin-top: 20px;
  font-size: 16px;
  color: blue;
  font-family: "Baskervville SC", serif;
  font-weight: 400;
  font-style: normal;
}

.card:hover {
  box-shadow: -6px -6px 10px 0px blue, 6px 6px 10px 0px blue;
  border-radius: 30px;
}

.cat_img:hover {
  border-radius: 10px 10px 0px 0px;
}

/* task3 */
.task3 {
  height: 800px;
}

.text_shining {
  font-size: 140px;
  color: red;
  row-gap: 20px;
  animation-name: shining;
  animation-duration: .5s;
  animation-iteration-count: infinite;
}

@keyframes shining {
  from {
    opacity: 0.1;
  }

  to {
    opacity: 1;
  }
}

/* task4 */
.task4 {
  height: 400px;
}

.spiner {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.ring {
  position: absolute;
  display: flex;
  width: 200px;
  height: 200px;
  border-top: 20px solid green;
  border-left: 20px solid green;
  border-right: 20px solid red;
  border-bottom: 20px solid yellow;
  border-radius: 50%;
  animation-name: spiner;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}

@keyframes spiner {
  from {
    transform: rotate(0turn);
  }

  to {
    transform: rotate(1turn);
  }
}

.ring:hover {
  animation-play-state: paused;
}

.text_ring {
  color: green;
  font-size: 24px;
}

/* task5 */
.task5 {
  height: 100px;
}

header {
  background-color: #0c5f21;
  padding: 16px 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ul_header {
  display: flex;
  column-gap: 80px;
}

.header_text {
  font-size: 20px;
  color: white;
  text-shadow: 1px 1px 2px black;
  transition: all 1s ease;
}

.header_text:hover {
  cursor: pointer;
  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
}

/* task6 */
.task6 {
  width: 200px;
  margin-bottom: 50px;
}

.loading {
  width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fill {
  width: 100%;
  height: 20px;
  border-radius: 7px;
  border: 2px solid black;
}

.full {
  height: 100%;
  background-color: #b70e0e;
  border-radius: 7px;
  animation-name: loading;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes loading {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}